RewriteEngine On

# when the path istatic/**/*
RewriteRule .*/static/(.*)$ static/$1 [L]

# Rules for /api
RewriteRule .*api/admin/(.*)$ src/admin/functions/$1 [L]
RewriteRule .*api/admin/views/(.*)$ src/admin/views/$1 [L]
RewriteRule .*api/(.*)$ src/api/$1 [L]



# When the path is empty, redirect to index.php
RewriteRule ^$ src/laptopshop/index.php [L]

# For other paths, apply the existing rules
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.+)$ src/laptopshop/$1 [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ src/entry.php?uri=$1 [QSA,L]
