* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --mycolor1: #333;
    --mycolor2: #fff;
}

select {
    cursor: pointer;
}
/*============================= pop up ======================*/
/* .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
} */
/*=============================Header ======================*/
#header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* padding-bottom: 10px; */
    /* border-bottom: solid rgb(170, 146, 146); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: var(--mycolor2);
    z-index: 10;
}

li {
    list-style: none;
}

#header ul li {
    display: inline-block;

    /* background-color: aqua; */
}

#header ul li a {
    padding: 30px;
}

#header ul li a:hover {
    box-shadow: 0 -10px 20px;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}

#header ul li a {
    /* color: var(--mycolor1); */
    font-weight: bold;
    font-size: 20px;
}

.nav-link {
    display: block;
    color: #000000;
    text-decoration: none;
}

/* .nav-link.active{
    box-shadow:  0 -10px 20px;
    border-radius: 20px 20px 0 0;
}

.nav-link:hover:not(.active),
.nav-link:hover:not(.active) i {
    background-color: #546064;
    color: var(--mycolor2);
    border-radius: 20px 20px 0 0;

} */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropbtn {
    padding: 10px 20px;
    /* Tăng kích thước button */
    border-radius: 10px;
    /* Bo tròn góc */
    border: none;
    /* Xóa viền */
    font-size: 16px;
    /* Tăng kích thước chữ */
    font-weight: bold;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #d3d3d3;
}

.logo,
.cart,
.alert,
.login {
    transition: transform 0.3s ease;
}

.logo:hover,
.cart:hover,
.alert:hover,
.login:hover {
    transform: translateY(-8px);

}

.header-top-right {
    margin: 0 10px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.login {
    margin: 0 15px;
}

.cart {
    margin: 0 30px;
}
.notify-cart {
    width: 18px;
    height: 18px;
    position: relative;
    z-index: 10;
    background-color: #aa1934;
    border-radius: 4px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 70%;
    top: 8px;
    color: #fff;
}

.header-top-right div span {
    /* width: 35px; */
    /* height: 35px; */
    font-size: 15px;
    /* font-family: 'Courier New', Courier, monospace; */
}

a {
    text-decoration: none;
    color: var(--mycolor1);
    font-weight: bold;
}

.danhmuc {
    border-radius: 6px;
    background-color: #cfd1d1;
    padding: 13px;
    cursor: pointer;
}

.danhmuc:hover,
.input-search2:hover {
    background-color: var(--mycolor1);
    color: var(--mycolor2);
    /* border: 2px solid var(--mycolor1); */
    transition: .5s;
}

.search {
    display: flex;
    width: 30%;
    position: relative;
}

.fa-circle-xmark {
    font-size: larger;
    position: absolute;
    top: 50%;
    right: 23%;
    transform: translateY(-50%);
    display: none;
    /* Mặc định ẩn biểu tượng */
    cursor: pointer;
}

.input-search1:hover+.fa-circle-xmark,
.fa-circle-xmark:hover {
    display: block;
    /* Hiển thị biểu tượng khi hover vào input */
}

.input-search1 {
    border: 1px solid var(--mycolor1);
    width: 80%;
    height: 40px;
    border-radius: 12px 0 0 12px;
    padding-left: 20px;
}

.input-search2 {
    border: 1px solid var(--mycolor1);
    width: 15%;
    height: 40px;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}




/* ==============================Footter============================*/
.footer-top {
    border-top: solid rgb(233, 165, 165);
    border-bottom: solid rgb(233, 165, 165);
    padding: 10px 150px;
    display: flex;
    justify-content: space-around;
    background-color: var(--mycolor2);
}

.footer-top div {
    margin: 0 20px;
}

.footer-top div h4 {
    font-weight: bold;
}

/*============================TrangChu============================*/
.top-trangchu {
    display: flex;
    min-height: 430px;
}

.show-sanpham {
    position: relative;
    width: 100%;
    height: 487px;
    margin: 50px 0;

}

.show-sanpham-img {
    position: absolute;
    border-radius: 15px;
}

.top-show-sanpham {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3.5rem;
    background-color: unset;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.list li {
    border-radius: 20px;
}

/* .list li:hover{
    border: 1px solid red;
    border-radius: 12px;
} */

.list li a {
    display: flex;
    padding: 13px 10px;
}

.list li a:hover {
    border: 1px solid red;
    border-radius: 12px;
    padding: 12px 11px;
}

.list li a img {
    height: 20px;
}

.mid-show-sanpham {
    position: relative;
    /* inset: 20px; */
    /* margin: 20px; */
    /* min-height: 400px; */
    overflow: hidden;


}

.list-sanpham {
    width: 3000px;
    height: 410px;
    display: flex;
    /* flex-wrap:inherit; */
    padding: 15px 0px 15px 22px;
    /* display: grid;
    grid-template-columns: repeat(5 , 1fr); */
    gap: 20px;
    transition: .4s;
}

.product {
    text-align: center;
    background-color: var(--mycolor2);
    padding: 10px;
    width: 244px;
    height: 400px;
    position: relative;
}

.product img {
    height: 54%;
    width: 90%;
    transition: .4s;
    cursor: pointer;
}

.product img:hover {
    transform: translateY(-10px);
}

.clear {
    text-align: left;
}

.clear h2 {
    padding: 10px;
    font-size: smaller;
    font-weight: 500;
    overflow: hidden;
}

.clear a {
    padding: 0 10px;
    padding: 0 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.clear a:hover {
    color: #8b8b8b;
}

.product .price {
    padding: 10px;
    color: rgb(20, 53, 195);
    font-size: large;
    font-weight: bolder;
}

.product button {
    background-color: #333;
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    border-radius: 12px;
    /* border: none; */
    cursor: pointer;
    position: absolute;
    inset: auto 20px 20px 20px;
    transition: .3s;
}

.product button:hover {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
}

/*============================Slider============================*/
.slider {
    border-radius: 12px;
    height: 500px;
    width: 98%;
    overflow: hidden;
    position: relative;
    margin: 0 8px;
}

.list-img {
    height: 500px;
    display: flex;
    transition: .5s;
}

.list-img img {
    height: 554px;
    width: 103%;
}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
}

.slider .btn {
    padding: 0 20px;
    font-size: 50px;
    /* display: flex; */
    position: absolute;
    color: #0f0101;
    top: 50%;
    transform: translateY(-50%);
}

.slider .btn:hover::before {
    /* color: var(--mycolor2); */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(119, 103, 103, 0.5);
    top: 0;
    left: 0;
    transition: .5s;
    cursor: pointer;
}

.btns-product .btn {
    padding: 5px 8px;
    font-size: 30px;
    /* display: flex; */
    position: absolute;
    color: #000000;
    background-color: #ECECEC;
    align-items: center;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.btns-product .btn:hover::before {
    /* color: var(--mycolor2); */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(198, 199, 201, 0.5);
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: .5s;
    cursor: pointer;
}

/*====================================San Pham====================================*/
.main {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 0px;
}

.main .product {
    height: 420px;
    border: 1px solid #c4baba;
    width: calc(25%);
}

.pagination {
    /* width: 96%; */
    bottom: 18px;
    /* position: absolute; */
    padding-top: 15px;
    gap: 8px;
    display: flex;
    justify-content: center;
}

.pagination a {
    padding: 12px 17px;
    border: 1px solid var(--mycolor1);
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination a.active {
    background-color: var(--mycolor1);
    color: #fff;
    border-color: var(--mycolor1);
}

.thongbao {
    font-size: xx-large;
    text-align: center;
    font-weight: lighter;
}

/*====================================Log in, log out================================*/
.log-in,
.log-out {
    position: relative;
    width: 460px;
    height: 600px;
    /* background-color:antiquewhite; */
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid black; */
    margin: auto;
    margin: 120px auto;
}

.icon-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    font-size: 20px;
    border-bottom-left-radius: 12px;
    background-color: var(--mycolor1);
    color: var(--mycolor2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 12px;
}

h1 {
    margin-bottom: 20px;
}

.item,
.item2 {
    position: relative;
    margin: 10px;
    width: 400px;
}

.item input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid var(--mycolor1);
    outline: none;
    background: transparent;
}

.item label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--mycolor1);
    pointer-events: none;
    transition: .5s;
}

.item input:valid~label,
.item input:focus~label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}
.btn-sign_in, .btn-sign_up{
    border: none;
    outline: none;
    margin-top: 30px;
    height: 30px;
    width: 40%;
    float: right;
    background: var(--mycolor1);
    color: var(--mycolor2);
    font-size: 18px;
    border-radius: 12px;
}


.icon-close:hover,
button[type="button"]:hover {
    cursor: pointer;
    background: var(--mycolor2);
    color: var(--mycolor1);
    border: 2px solid var(--mycolor1);
    transition: .5s;
}

.item a:hover {
    text-decoration: underline;
}

/* .form-header{
    position: absolute;
    height: 7%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-bottom: solid black;
    padding: 0 30px;
}
.form-header span{
    padding: 8px 12px;
    cursor: pointer;
    border: solid black;
    
}

.form-main{
    height: 82%;
}


.item,.item2{
    font-size: 20px;
    margin: 30px 0 0 50px;
}
.item input{
    width: 80%;
    height: 7%;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 20px;
}
.acc{
    margin: 70px 50px;
    font-size: 20px;
}



.form-footer{
    display: flex;
    border-top: solid black;
    padding: 0 auto;
    height: 7%;
    justify-content: center;
    align-items: center;

}
.form-footer input{
    height: 70%;
    margin: 0 5px 5px;
} */


.wrapper {
    position: relative;
    padding: 50px 0;
    /* margin-top: 82px; */
    min-height: 1000px;
    background-color: #d8d8f5;
}

.overplay {
    z-index: 9;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 104%;
    display: none;
}

.content {
    width: 75%;
    margin: 0px auto;
    padding-top: 50px;
}

.menu {
    position: relative;
    min-height: 60%;
    margin: 0 8px;
    background-color: var(--mycolor2);
    border-radius: 15px;
    padding: 20px;
}

.menu-left {
    width: 20%;
    min-height: 410px;
}

.menu-left-1 {
    width: 276px;
    display: none;
    position: fixed;
    z-index: 10;
}

#resetBtn {
    padding: 3px 15px;
    margin-bottom: 10px;
    /* position: absolute; */
    top: 18px;
    right: 20px;
    border-radius: 6px;
    background-color: var(--mycolor1);
    color: var(--mycolor2);
}

#resetBtn:hover {
    cursor: pointer;
    background-color: var(--mycolor2);
    color: var(--mycolor1);
    border: 2px solid var(--mycolor1);
    transition: .5s;
}

.loc {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 14px;
}

/* .checkItems{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
} */

.hang {
    display: flex;
    flex-flow: row wrap;
}

.checkItems p {
    flex: 1 50%;
    margin-bottom: 14px;
    cursor: pointer;
}

.menu-right {
    /* max-height: 900px; */
    width: 80%;
}

/*============================= Chi tiết sản phẩm =============================*/
.detail {
    display: flex;
    width: 75%;
    box-shadow: 5px 7px 22px;
    margin: 100px auto 30px;
    padding: 20px;
    min-height: 600px;
    background-color: #d8d8f5;
    border-radius: 20px;
}

.detail .product-detail {
    gap: 10px;
    display: flex;
    width: 65%;
    background-color: #fff;
    padding: 25px;
    margin-right: 5px;
}

.detail .information {
    width: 34%;
    background-color: #fff;
    padding: 25px 0 0;
    margin-left: 5px;
}

.product-image img {
    width: 100%;
}

.product-detail .product-image {
    width: 40%;
    margin-right: 10px;
}


.product-detail .thongtinsp {
    width: 60%;
}

.thongtinsp .product-name {
    width: 100%;
    margin-bottom: 10px;
    height: 100px;
}

.product-name .danhgia {
    color: rgb(244, 182, 66);
}

.product-name p {
    margin: 5px 0;
    font-size: 25px;
    color: red;
}

.product-name .past-price {
    font-size: 18px;
    color: grey;
    text-decoration: line-through;
    margin-left: 5px;
}

.thongtinsp .promotion {
    margin: 80px 30px 0;
    padding: 10px;
    border: solid #000;
    border-radius: 8px;
}

.thongtinsp .promotion h5 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid #000;
}

.paying-product button {
    padding: 20px 15px;
    border: 1px solid blue;
    margin-top: 40px;
    width: 49%;
    font-size: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.paying-product button:hover {
    cursor: pointer;
    transform: translateY(-8px);
}


#sell-button {
    background-color: blue;
    color: white;

}

@media (max-width: 1200px) {

    .product-name,
    .promotion {
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    .product-name {
        font-size: 9px;
    }
}




.information h5 {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.information-list {
    width: 10 0%;
}

.information-list td {
    padding: 10px;
    border: solid #000;
}

.detail-name {
    width: 30%;
}

.detail-content {
    width: 45%;
}









.recommend {
    overflow: hidden;
    width: 75%;
    background-color: #d8d8f5;
    /* background-color: blue; */
    padding: 0 15%;
    height: 500px;
    border-top: solid #000;
    margin: 20px auto;
    border-radius: 15px;
    position: relative;
    box-shadow: 5px 7px 22px;
}

.recommend h5 {
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: solid #000;
}

.bip {
    position: absolute;
    left: 18px;
    right: 32px;
    bottom: 20px;
    top: 62px;
    overflow: auto;
}

.recommend-row {
    display: flex;
    /* height: 300px; */
    /* width: 4540px; */
    position: absolute;
    left: 0;
    /* right: 60px; */
    /* bottom: 20px; */
    /* top: 62px; */
}

.recommend-row .product {
    border: 1px solid #c4baba;
}

@media (max-width: 1715px) {
    .content {
        width: 90%;
    }

    .detail {
        width: 90%;
    }

    .recommend {
        width: 96%;
    }
}

@media (max-width: 1419px) {
    .content {
        width: 96%;
    }

    .detail {
        width: 96%;
    }

    .recommend {
        width: 96%;
    }
}

@media (max-width: 1329px) {

    /* .content{
        width: 80%;
    } */
    .menu-right {
        width: 99%;
        overflow: hidden;
    }

    .menu-left-1 {
        min-width: 236px;
    }

    .top-trangchu {
        display: block;
    }


    .menu-left-2 {
        display: flex;
        width: 99%;
        gap: 40px;
        margin-bottom: 30px;
        overflow: auto;
    }

    .menu-left-3 {
        display: none;
    }

    .loc {
        min-width: 140px;
        border: none;
    }

    .loc:nth-child(6) {
        min-width: 62px;
    }

    .loc:nth-child(8) {
        min-width: 160px;
    }
}

@media (max-width: 888px) {
    .main .product {
        width: calc(33%);
    }

    .footer-top {
        padding: 10px 70px;
    }
}

@media (max-width: 725px) {
    .main .product {
        width: calc(50%);
    }

    .footer-top {
        padding: 10px 0;
        overflow: hidden;
    }
}

@media (max-width: 495px) {
    .menu-right {
        margin: auto;
        width: 80%;
    }

    .main .product {
        width: calc(100%);
    }
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    border-collapse: collapse;
}

.table> :not(caption)>*>* {
    padding: 1rem 0.7rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table>tbody {
    vertical-align: inherit;
}

.table>thead {
    vertical-align: bottom;
}

.table> :not(:last-child)> :last-child>* {
    border-bottom-color: currentColor;
}

.caption-top {
    caption-side: top;
}

.table-sm> :not(caption)>*>* {
    padding: 0.25rem 0.25rem;
}

.table-bordered> :not(caption)>* {
    border-width: 1px 1px;
}

.table-bordered> :not(caption)>*>* {
    border-width: 0px 0px;
}

.table-borderless> :not(caption)>*>* {
    border-bottom-width: 0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
}

.table-active {
    --bs-table-accent-bg: var(--bs-table-active-bg);
    color: var(--bs-table-active-color);
}

.table-hover>tbody>tr:hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
}

.table-primary {
    --bs-table-bg: #cfe2ff;
    --bs-table-striped-bg: #c5d7f2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bacbe6;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfd1ec;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #bacbe6;
}

.table-secondary {
    --bs-table-bg: #e2e3e5;
    --bs-table-striped-bg: #d7d8da;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #cbccce;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #d1d2d4;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #cbccce;
}

.table-success {
    --bs-table-bg: #d1e7dd;
    --bs-table-striped-bg: #c7dbd2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bcd0c7;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #c1d6cc;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #bcd0c7;
}

.table-info {
    --bs-table-bg: #cff4fc;
    --bs-table-striped-bg: #c5e8ef;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #badce3;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfe2e9;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #badce3;
}

.table-warning {
    --bs-table-bg: #fff3cd;
    --bs-table-striped-bg: #f2e7c3;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #e6dbb9;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #ece1be;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #e6dbb9;
}

.table-danger {
    --bs-table-bg: #f8d7da;
    --bs-table-striped-bg: #eccccf;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dfc2c4;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e5c7ca;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #dfc2c4;
}

.table-light {
    --bs-table-bg: #f8f9fa;
    --bs-table-striped-bg: #ecedee;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dfe0e1;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e5e6e7;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #dfe0e1;
}

.table-dark {
    --bs-table-bg: #212529;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 1399.98px) {
    .table-responsive-xxl {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}